
<template name="products">

    <h2>Kegerator sizes:</h2>

    {{#each availableKegerators}}
        <div class="product-item">
            <div class="product-title">{{name}}</div>
            <div class="product-image"></div>
            <div class="product-details">{{{description}}}</div>
        </div>
    {{/each}}


    <h2>Flavors:</h2>

    {{#each availableFlavors}}
    <div class="product-item">
        <div class="product-title">{{name}}</div>
        <div class="product-image"></div>
    </div>
    {{/each}}
</template>